colorama
datature
datature-hub
graceful-shutdown
numpy==1.21.6
onnx==1.14.0
onnx2torch==1.5.6
onnxruntime==1.14.0
opencv-python==4.5.1.48
Pillow==9.3.0
prettyprinter
protobuf==3.19.6
pyyaml
scipy==1.7.3
tensorflow==2.11.0
tflite_runtime==2.11.0
torch==1.13.1
torchvision==0.14.1
